{% extends 'base.html' %}

{% block content %}
<!-- <div class="content">
  <table>
    <tr>
      <th>Оглавление</th>
      <th>Картинка</th>
      <th>Текст</th>
       <th>Дата создания</th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.image }}</td>
        <td><a href="/article/{{ article.id }}">{{ article.text }}</a></td>
        <td>{{ article.date_created }}</td>
      </tr>
    {% endfor %}
  </table>
</div> -->

<div class="row">
  {% for article in articles %}
  <div class="col-lg-4">
    <img src="{{ article.image }}">
    <div class="box-element product">
      <h6>{{ article.title }}</h6>
      <div>{{ article.text }}</div>
      <p>Создано: {{ article.date_created.date() }}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}